:root {
    --header-color: #b3d4fc;
    --sand: #ccc;
    --button-color: #3882dc;
    --button-text-color: #fff;
    --button-hover-color: #2e64e8;
}

.header {
    background: var(--header-color);
    display: flex;
    padding: 1rem;
    height: 7rem;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin: 1rem;
    border-radius: 8px;
}

.btn-primary {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--sand);
    resize: none;
    background-color: var(--button-color);
    color: var(--button-text-color);
    max-width: 50%;
    &:hover {
        background-color: var(--button-hover-color);
    }
}
